API_BASE_URL = https:/$()/infra-advisor-ai.bitsbone.com
DD_SITE = us3
DD_ENV = demo
DD_SERVICE = infra-advisor-mobile-ios
DD_RUM_APPLICATION_ID = faf4371c-eed8-4b46-a2ce-78e704e9cae5
DD_CLIENT_TOKEN = pub7b2e9fd74523ba292a44a563e7f3cb97
DD_TRACE_SAMPLE_RATE = 100

// Optional machine-local overrides. This file is ignored by Git.
#include? "Local.xcconfig"
